.App {
  text-align: center;
}

nav {
  height: 60px;
  color: #ED555D;
  display: flex;
  padding: 15px 36px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  align-items: center;
}

h3 {
  font-size: 30px;
}

.Body {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.Body-Elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}


